<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Dellin>
            <version>2.0.1</version>
        </Mygento_Dellin>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <dellin>Mygento_Dellin.csv</dellin>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        <menu>
            <mygento translate="title" module="dellin">
                <title>Mygento Modules</title>
                <sort_order>60</sort_order>
                <children>
                    <dellin translate="title" module="dellin">
                        <title>Dellin</title>
                        <sort_order>30</sort_order>
                        <children>
                            <settings translate="title" module="dellin">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/carriers</action>
                                <sort_order>100</sort_order>
                            </settings>
                        </children>
                    </dellin>
                </children>
            </mygento>
        </menu>
    </adminhtml>
    <global>
        <models>
            <dellin>
                <class>Mygento_Dellin_Model</class>
                <resourceModel>dellin_mysql4</resourceModel>
            </dellin>
            <dellin_mysql4>
                <class>Mygento_Dellin_Model_Mysql4</class>
                <entities>
                    <dellincities>
                        <table>mygento_dellincities</table>
                    </dellincities>
                    <dellinpack>
                        <table>mygento_dellinpack</table>
                    </dellinpack>
                </entities>
            </dellin_mysql4>
        </models>
        <blocks>
            <dellin>
                <class>Mygento_Dellin_Block</class>
            </dellin>
        </blocks>
        <helpers>
            <dellin>
                <class>Mygento_Dellin_Helper</class>
            </dellin>
        </helpers>
        <resources>
            <dellin_setup>
                <setup>
                    <module>Mygento_Dellin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dellin_setup>
            <dellin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dellin_write>
            <dellin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dellin_read>
        </resources>
    </global>
    <default>
        <carriers>
            <dellin>
                <active>1</active>
                <model>dellin/shipping</model>
                <name>Место назначения:</name>
                <title>Через Деловые Линии</title>
                <volume>0.1</volume>
                <attr>volume</attr>
                <limit>4</limit>
                <ins>0</ins>
                <emptyevent>0</emptyevent>
            </dellin>
        </carriers>
    </default>
    <frontend>
        <routers>
            <dellin>
                <use>standard</use>
                <args>
                    <module>Mygento_Dellin</module>
                    <frontName>dellin</frontName>
                </args>
            </dellin>
        </routers>
        <default>
            <router>dellin</router>
        </default>
        <layout>
            <updates>
                <dellin>
                    <file>mygento/dellin.xml</file>
                </dellin>
            </updates>
        </layout>
        <events>
            <mygento_dellin_collect_rates_result>
                <observers>
                    <dellin_observer>
                        <type>model</type>
                        <class>dellin/observer</class>
                        <method>addship</method>
                    </dellin_observer>
                </observers>
            </mygento_dellin_collect_rates_result>
        </events>
    </frontend>
</config>