<?xml version="1.0"?>
<config>
	<modules>
    <!-- Описание нашего модуля - название, версия, зависимости -->
		<Andromeda_Core>
			<version>0.0.1</version>
		</Andromeda_Core>
	</modules>
	<global>
		<models>
			<core>
				<rewrite>
					<store>Andromeda_Core_Model_Store</store>
				</rewrite>
			</core>
		</models>
	</global>
</config>