<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_SPSR>
            <version>2.0.5</version>
        </Mygento_SPSR>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <spsr>Mygento_SPSR.csv</spsr>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <spsr>
                <use>standard</use>
                <args>
                    <module>Mygento_SPSR</module>
                    <frontName>spsr</frontName>
                </args>
            </spsr>
        </routers>
        <layout>
            <updates>
                <spsr>
                    <file>mygento/spsr.xml</file>
                </spsr>
            </updates>
        </layout>
         <events>
            <mygento_spsr_collect_rates_result>
                <observers>
                    <spsr_observer>
                        <type>model</type>
                        <class>spsr/observer</class>
                        <method>calculate</method>
                    </spsr_observer>
                </observers>
            </mygento_spsr_collect_rates_result>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <spsr>
                    <file>mygento/spsr.xml</file>
                </spsr>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <spsr>
                <class>Mygento_SPSR_Model</class>
                <resourceModel>spsr_mysql4</resourceModel>
            </spsr>
            <spsr_mysql4>
                <class>Mygento_SPSR_Model_Mysql4</class>
                <entities>
                    <spsrcities>
                        <table>spsrcities</table>
                    </spsrcities>
                    <spsrbarcode>
                        <table>spsr_barcode</table>
                    </spsrbarcode>
                </entities>
            </spsr_mysql4>
        </models>
        <helpers>
            <spsr>
                <class>Mygento_SPSR_Helper</class>
            </spsr>
        </helpers>
        <blocks>
            <spsr>
                <class>Mygento_SPSR_Block</class>
            </spsr>
        </blocks>
        <resources>
            <spsr_setup>
                <setup>
                    <module>Mygento_SPSR</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </spsr_setup>
        </resources>
    </global>
    <default>
        <carriers>
            <spsr>
                <active>0</active>
                <model>spsr/shipping</model>
                <name>СПСР</name>
                <title>Доставка через СПСР</title>
                <origincity>Санкт-Петербург</origincity>
                <nature>1</nature>
                <amountcheck>0</amountcheck>
                <sms>0</sms>
                <plattype>0</plattype>
                <sid>0</sid>
                <finder>1</finder>
                <limit>4</limit>
                <debug>0</debug>
                <addtryon>0</addtryon>
                <addpart>0</addpart>
                <addbyhand>0</addbyhand>
                <addcod>0</addcod>
                <addag>0</addag>
                <sms2>0</sms2>
                <itemdesc>16</itemdesc>
                <itemwhl>0</itemwhl>
                <emptyevent>0</emptyevent>
            </spsr>
        </carriers>
    </default>
</config>