<?xml version="1.0"?>
<config>
	<modules>
		<Andromeda_CashOnDelivery>
			<version>0.0.1</version>
		</Andromeda_CashOnDelivery>
	</modules>
    <global>
<!-- declare model group for new module -->
        <models>
<!-- model group alias to be used in Mage::getModel('cashondelivery/...') -->
            <cashondelivery>
<!-- base class name for the model group -->
                <class>Andromeda_CashOnDelivery_Model</class>
            </cashondelivery>
        </models>
 
<!-- declare resource setup for new module -->
        <resources>
<!-- resource identifier -->
            <cashondelivery_setup>
<!-- specify that this resource is a setup resource and used for upgrades -->
                <setup>
<!-- which module to look for install/upgrade files in -->
                    <module>Andromeda_CashOnDelivery</module>
                </setup>
<!-- specify database connection for this resource -->
                <connection>
<!-- do not create new connection, use predefined core setup connection -->
                    <use>core_setup</use>
                </connection>
            </cashondelivery_setup>
            <cashondelivery_write>
                <use>core_write</use>
            </cashondelivery_write>
            <cashondelivery_read>
                <use>core_read</use>
            </cashondelivery_read>
        </resources>
    </global>
 
<!-- declare default configuration values for this module -->
    <default>
<!-- 'payment' configuration section (tab) -->
        <payment>
<!-- 'cashondelivery' configuration group (fieldset) -->
            <cashondelivery>
<!-- by default this payment method is inactive -->
                <active>1</active>
<!-- model to handle logic for this payment method -->
                <model>cashondelivery/paymentMethod</model>
<!-- order status for new orders paid by this payment method -->
                <order_status>pending</order_status>
<!-- default title for payment checkout page and order view page -->
                <title>Cash On Delivery</title>
            </cashondelivery>
         </payment>
    </default>
</config>