<?xml version="1.0"?>
<config>
   <sections>
        <carriers>
            <groups>
                <selfdelivery translate="label" module="shipping">
                    <label>Andromeda Self Delivery</label>
					<frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                         <sort_order translate="label">  
                             <label>Sort order</label>  
                             <frontend_type>text</frontend_type>  
                             <sort_order>100</sort_order>  
                             <show_in_default>1</show_in_default>  
                             <show_in_website>1</show_in_website>  
                             <show_in_store>1</show_in_store>  
                         </sort_order>  						
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <spb translate="label">
                            <label>— Saint-Petersburg</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </spb>
                    </fields>
                </selfdelivery>
            </groups>
        </carriers>
    </sections>
	<default>
        <carriers>
            <mage_newmodule>
                    <active>1</active>
                    <sallowspecific>0</sallowspecific>
					<model>selfdelivery/carrier_selfdelivery</model>
                    <name>Self Delivery</name>
                    <title>Self Delivery</title>
                    <specificerrmsg>
                        This shipping method is currently unavailable.
                        If you would like to ship using this shipping
                        method, please contact us.
                    </specificerrmsg>
                    <handling_type>F</handling_type>
            </mage_newmodule>
        </carriers>
    </default>
</config>